@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;

}

.wrapper {
    min-height: 100vh;
    background-color: white;
    padding: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.main-bg {
    background-image: url("/images/background/background-1.jpg");
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-gradient {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

.gradient-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header { 
    /* color: white; */
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:active {
    color: rgb(255, 0, 0);
     text-decoration: none;
     font-size: 18px;
 }

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
  }
  

  .glass-bg {
    background: #ffffffb0;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.img-box img {
    width: 100%;
    margin-top: 10px;
}


header  .img-box {
    width: 80px;
    height: 95px;
    border-radius: 50%;
}
